<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
    <% if (index){ %>
        <div class="article-inner">
            <% if (post.link || post.title){ %>
                <header class="article-header">
                    <a class="article-header-link" href="<%- url_for(post.path) %>#more"><%- post.title %></a>
                </header>
            <% } %>
            <div class="article-type">
                <i class="fa fa-calendar"></i>
                <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
                &nbsp;
            </div>
            <div class="article-entry" itemprop="articleBody">
                <% if (post.excerpt){ %>
                    <%- post.excerpt %>
                    <% if (theme.excerpt_link){ %>
                        <p class="article-more-link">
                            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
                        </p>
                    <% } %>
                <% } %>
            </div>
            <!-- <footer class="article-footer">
                <% if (post.comments && config.disqus_shortname){ %>
                    <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link"><%= __('comment') %></a>
                <% } %>
            </footer> -->
        </div>
    <% } else { %>
        <header class="article-detail-header">
            <span><%- post.title %></span>
        </header>
        <div class="article-type text-center">
            <i class="fa fa-calendar"></i>
            <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
            &nbsp;
        </div>
        <div class="for-markdown-preview">
            <%- post.content %>
        </div>
    <% } %>
</article>

<% if (!index && post.comments && config.disqus_shortname){ %>
    <section id="comments">
        <div id="disqus_thread">
            <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
    </section>
<% } %>
