<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= config.theme %></title>
    <meta name="keywords" Content="<%= config.keywords %>" />
    <meta name="description" content="<%= config.description %>" />
    <%- css('css/style.css') %>
    <!-- baidi analytics -->
    <% if (theme.baidu_analytics) { %>
        <script type="text/javascript">
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?<%= theme.baidu_analytics %>";
                var s = document.getElementsByTagName("script")[0]; 
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    <% } %>
</head>